<p>Hello {{ user.firstName}} {{ user.lastName}} !</p>


<br>
{% if evenement or coaching or coffret %}

<h2>Voici la confirmation de votre commande numéro {{ commande }}</h2>

    <br>


{% if evenement | length > 0%}

    <p>Vous avez réservé le/les cours collectif(s) suivant(s) : </p>

            {% for evenements in evenement %}
                <ul>
                    <li>Titre de la session : {{ evenements.product.titre }}</li>
                    <li>Prix : {{ evenements.product.prix/100 }}€</li>
                    <li>Quantité : {{ evenements.quantity }}</li>
                    <li>Total des cours : {{ totalEvenement/100 }}€ </li>
                </ul>

            {% endfor %}


{% endif %}
    {% if coaching | length > 0%}
        <br>
        <p>Vous avez réservé ce/ces leçons particulières(s) :</p>

                {% for coachings in coaching %}
                 <ul>
                     <li>Nombre d'heures : {{ coachings.product.heure }} heures</li>
                     <li>{% if coachings.personne<=2 %}
                             Prix : {{ coachings.product.priceForTwo }}€ pour 2 personnes
                         {% else %}
                             Prix : {{ coachings.product.priceForTwo }}€ pour 2 personnes + {{ coachings.product.priceForThree }}/personnes (dès la troisième)
                         {% endif %}

                     <li>Nombre de personnes : {{ coachings.personne }} personnes</li>
                     <li>Total : {{ coachings.prix }}€</li>
                 </ul>


                {% endfor %}



    {% endif %}
        
        {% if coffret | length > 0%}
            <br>
            <p>Vous avez commandés le/les coffret(s) cadeau(x) ci-dessous :</p>

                    {% for coffrets in coffret %}
                        <ul>
                            <li>Produit : {{ coffrets.product.produit }}</li>
                            <li>Prix : {{ coffrets.product.prix/100 }}€</li>

                            <li>Nombre d'heures : {{ coffrets.quantity.heure }} heures</li>

                            <li>Total : {{ (coffrets.product.prix/100) * coffrets.quantity.heure }}€</li>
                        </ul>
                    {% endfor %}

        {% endif %}
{% endif %}

<br>
<p>Montant total de votre commande : {{ total/100 }}€</p>
<p>Dont TVA : {{ tva/100 }}€</p>
<br>

<p>Je vous remercie pour votre commande et bien sûr préparez-vous à progresser et à mieux connaître votre vélo !</p>

<br>
<p>Sportivement,</p>
<br>
<p>Jodelap Coaching</p>