{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Commandes{% endblock %}

{% block body %}

    {% include 'navbar/navbar.html.twig' %}

    <div style="background-color: black; padding-top: 90px; padding-bottom: 40px">


        <a href="{{ path('home') }}">
            <img src="{{ asset('img/SITEBLANC.png') }}" style="filter: brightness(40%)"  class="img-fluid displayed mt-4" alt="Logo">
        </a>
    </div>

    <h1 class="text-center titre">Confirmation de votre commande</h1>
<div class="global-container">
<div class="container" style="margin-top: 10%">

    {% if evenement or coaching or coffret %}

    {% if evenement | length > 0%}

<h3 class="mt-5">Vos cours collectifs réservés</h3>

<div class="table-responsive mt-5">
    <table class="table table-hover text-center" style="width:100%">
        <thead>
        <tr>
            <th>Session</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for evenements in evenement %}
            <tr>
                <td>{{ evenements.product.titre }}</td>
                <td>{{ evenements.product.prix/100 }}€</td>
                <td><a href="{{ path('evenement_less', {'id' : evenements.product.id }) }}"><i class='bx bxs-minus-circle' ></i></a> {{ evenements.quantity }} <a href="{{ path('evenement_add', {'id' : evenements.product.id }) }}"><i class='bx bxs-plus-circle'></i></a></td>
                <td>{{ (evenements.product.prix/100) * evenements.quantity }}€</td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total des cours : </td>
            <td>{{ totalEvenement/100 }}€</td>
        </tr>
        </tfoot>
    </table>
</div>

{% endif %}
    {% if coaching | length > 0%}

        <h3 class="mt-5">Votre séance de coaching</h3>

        <div class="table-responsive mt-5">
            <table class="table table-hover text-center" style="width:100%">
                <thead>
                <tr>
                    <th>Nombre d'heures</th>
                    <th>Prix</th>
                    <th>Nombre de personnes</th>
                    <th>Total</th>

                </tr>
                </thead>
                <tbody>
                {% for coachings in coaching %}
                    <tr>
                        <td>{{ coachings.product.heure }} heures</td>
                        <td>{% if coachings.personne<=2 %}
                            {{ coachings.product.priceForTwo }}€ pour 2 personnes
                            {% else %}
                            {{ coachings.product.priceForTwo }}€ pour 2 personnes + {{ coachings.product.priceForThree }}/personnes (dès la troisième)
                            {% endif %}
                        </td>
                        <td data-tooltip="Cliquez sur le chiffre pour augmenter ou réduire le nombre de personnes / 0 pour supprimer" ><a href="{{ path('coaching_add', {'slug' : coachings.product.slug }) }}" style="color: #A81616"><i class='bx bxs-edit-alt'></i>{{ coachings.personne }} personnes</a></td>
                        <td>{{ coachings.prix }}€</td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3" class="text-end">Total de la leçon : </td>
                    <td>{{ sum }}€</td>
                </tr>
                </tfoot>
            </table>
        </div>

{% endif %}
        
        {% if coffret | length > 0%}

            <h3 class="mt-5">Votre coffret cadeau commandé</h3>

            <div class="table-responsive mt-5">
                <table class="table table-hover text-center" style="width:100%">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Nombre d'heures</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for coffrets in coffret %}
                        <tr>
                            <td>{{ coffrets.product.produit }}</td>
                            <td>{{ coffrets.product.prix/100 }}€</td>

                            <td data-tooltip="Cliquez sur le chiffre pour augmenter ou réduire le nombre d'heures / 0 pour supprimer" > <a style="color: #A81616" href="{{ path('coffret_add', {'titre' : coffrets.product.produit}) }}"><i class='bx bxs-edit-alt'></i>{{ coffrets.quantity.heure }} heures</a></td>

                            <td>{{ (coffrets.product.prix/100) * coffrets.quantity.heure }}€</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">Total du coffret cadeau : </td>
                        <td>{{ totalCoffret/100 }}€</td>
                    </tr>
                    </tfoot>
                </table>
            </div>

        {% endif %}

        <div class="table-responsive mt-5">
            <table class="table table-hover text-center" style="width:100%">
                <div class="table-responsive mt-5">
                    <table class="table table-hover text-center" style="width:100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                <tbody>
                <tr>
                    <td colspan="3" class="text-end">Dont TVA : </td>
                    <td>{{ tva/100 }}€</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-end">Montant total : </td>
                    <td>{{ total/100 }}€</td>
                </tr>
                </tbody>
            </table>
        </div>

<div class="text-end mt-5">
        <a href="{{ path('confirmationCoordonee', {'uniq' : uniq} )}}">  <button class="btn btn-dark" type="submit">Valider - {{ total/100 }}€ -</button></a>
</div>
        {% else %}
        <h1 class="text-center mt-5">Votre commande est vide !</h1>
        <img src="{{ asset('img/panier.jpg') }}"  class="img-fluid displayed mt-5" alt="Jodelap Coaching moniteur MCF" style="max-width: 70%; border-radius: 20px">
        {% endif %}
</div>
</div>
    {% include 'navbar/footer.html.twig' %}


{% endblock %}

