{% extends 'base.html.twig' %}

{% block title %}AttenteConfirmation{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('home') }}">
        <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed" alt="Logo">
    </a>
    <h1 class="mt-5 mb-5 text-center" >Votre réservation est bien validée</h1>

    <p class="mb-5">Vous pouvez retourner sur la page d'accueil en cliquant sur ce lien : <a href="{{ path('home') }}"><small>Retourner à la page d'accueil</small></a> <br>
    ou vous pouvez me laisser un message ci-dessous pour que j'en apprenne un peu plus sur votre niveau avant le début de notre session VTT.</p>

    {{ form_start(form) }}
    {{ form_widget(form.commentaire) }}
{{ form_widget(form.Valider) }}

    {{ form_end(form) }}

    <figure>
        <img src="{{ asset('img/logo_panier.png') }}" alt="logo dession Jodelap Coaching" class="img-fluid displayed" style="width: 600px;
    max-width: 100%;">
        <figcaption class="text-center mt-2"><p>Réalisé par Jonathan Révillot-Tirot</p></figcaption>
    </figure>

</div>

{% endblock %}

