{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Validation de confirmation de la réservation{% endblock %}

{% block body %}
<div class="global-container">


        <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed mt-4" alt="Logo">


        <h1 class="mb-5 text-center titre" >Votre réservation <small> - {{commande.numeroDeCommande }} - </small> est bien validée</h1>

    <div class="container">

    <p class="mb-5 text-center" style="font-size: x-large ">Vous pouvez retourner sur la page d'accueil en cliquant sur ce lien : <a href="{{ path('home') }}"><small class="ici">Retourner à la page d'accueil</small></a> <br>

        <a href="{{ path('home') }}">
        <img src="{{ asset('img/logo_panier.png') }}" alt="logo dession Jodelap Coaching" class="img-fluid displayed mt-5 ours" style="width: 600px;
    max-width: 100%;">
        </a>


</div>

</div>
        <script>
            setTimeout('Redirect()', 5000);
            function Redirect()
            {
                window.location="{{ path('home') }}";
            }
    </script>

{% endblock %}

