{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Accueil{% endblock %}

{% block body %}

    {% include 'navbar/navbar.html.twig' %}


    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel" style="display: inline">

        <ol class="carousel-indicators">
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
            <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
        </ol>


        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="mask" style="background-color: rgba(12, 11, 10, 0.5);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white text-center ">
                            <h1 class="animate__animated animate__bounceInDown">Moniteur VTT - Débutants - Intermédiaires - Confirmés </h1>
                            <a class="btn btn-dark btn-rounded btn-lg m-2 animate__animated animate__backInRight" href="{{ path('evenement') }}"
                               role="button" rel="nofollow">Cours collectifs</a>
                            <a class="btn btn-dark btn-rounded btn-lg m-2 animate__animated animate__backInLeft" href="{{ path('coaching') }}"
                             role="button">Cours particuliers</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="mask" style="background-color: rgba(12, 11, 10, 0.5);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white text-center">
                            <h1  class="mb-3 animate__animated animate__flipInX ">Ouvert à tous et à toutes, j'adapte les séances de VTT selon votre niveau</h1>
                            <a class="btn btn-dark btn-rounded btn-lg m-2 animate__animated animate__lightSpeedInRight" href="{{ path('evenement') }}"
                               role="button" rel="nofollow">Cours collectifs</a>
                            <a class="btn btn-dark btn-rounded btn-lg m-2 animate__animated animate__lightSpeedInLeft" href="{{ path('coaching') }}"
                              role="button">Cours particuliers</a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="carousel-item">
            <div class="mask"  style="background-color: rgba(12, 11, 10, 0.5);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                        <h1 class="mb-3 animate__animated animate__zoomIn" >Cours de VTT sur Morzine (juillet et août) et Besançon (restant de l'année)</h1>
                        <a class="btn btn-dark btn-rounded btn-lg m-2 animate__animated animate__rotateInDownRight" href="{{ path('evenement') }}"
                           role="button" rel="nofollow">Cours collectifs</a>
                        <a class="btn btn-dark btn-rounded btn-lg m-2 animate__animated animate__rotateInDownLeft" href="{{ path('coaching') }}"
                           role="button">Cours particuliers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>



        <div class="container mt-5">


            <div id="flash mb-5">
                {% for label, messages in app.flashes  %}
                    <div class="alert mb-5 alert-{{ label }} fade show text-center" role="alert" data-mdb-color="{{ label }}"   style="font-size: x-large">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor%}
                    </div>
                {% endfor %}
            </div>

            <section class="JodelapCoaching">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 mt-5" data-mdb-ripple-color="light">
                            <img src="{{ asset('img/home.jpg') }}" alt="Jodelap Coching - Jonathan Revillot Tirot" class="img-fluid" />
                            <a href="{{ path('galerie') }}">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <p class="mt-5 text-center none" >Venez rouler avec moi <img src="{{ asset('img/gif.gif') }}" alt="" style="max-height: 80px"></p>
                    </div>

                    <div class="col-md-6 gx-5 mb-4" style="text-align: justify">
                        <h2 class="mb-3 mt-5" >Jonathan Revillot-Tirot</h2>
                        <p class="text-muted">
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Pour moi, le VTT est avant tout un moyen de prendre du plaisir, rencontrer de nouvelles personnes, voyager, explorer, repousser mes limites et me challenger.
                            Après avoir dompté ma Motocross pendant plus de 10 ans, je me suis dirigé vers la compétition au guidon de mon VTT.    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <p><strong>Coacher ? Un moyen pour moi de transmettre mon savoir !</strong></p>
                        <p class="text-muted">
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> Je cours au niveau national en VTT de descente. Vous pouvez me croiser sur différents événements comme au Crankworx World tour ou au départ de la Mégavalanche à l'Alpes d'Huez.
                            Le VTT m'a appris énormément de choses. Sur la concentration, l’entraînement, la nutrition mais surtout, continuer de repousser mes limites tout en m'amusant.
                        </p>
                        <p class="text-muted">
                            J'ai beaucoup appris et continue d'apprendre, c'est la beauté de ce sport.
                        </p>
                        <p class="text-muted">
                            Diplômé d'état mention VTT, je suis là pour partager ma passion et rendre le processus d'apprentissage le plus agréable possible.
                            Je suis disponible à Besançon dans le Doubs de septembre à juin. En saison d'été j'encadre dans les Alpes, à Morzine, avec l'équipe de chez RideAbility.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <p>Je vous propose : </p>

                        <div class="row mt-5 mt-3">
                            <div class="col text-center">
                                <a href="{{ path('coaching') }}">
                                    <button type="button" class="btn btn-dark btn-lg">Cours particuliers</button>
                                </a>
                            </div>
                            <div class="col text-center">
                                <a href="{{ path('evenement') }}">
                                    <button type="button" class="btn btn-dark btn-lg">Cours collectifs</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>


{% if event|length >3 %}
    <section class="coaching mt-3">


            <div class="container">
                <h2 class="text-center mt-5">Les prochains cours collectifs</h2>

                <div class="row">
                    {% for evenement in event %}
                        <div class="col-lg-4 col mt-5" >

                            <div class="card" style="border:solid">
                                <div class="card">
                                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                        <img src="uploads/evenement/{{ evenement.image }}" alt="{{ evenement.titre }}" class="img-fluid" />
                                        <a href="{{ path('evenement')}}">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                        </a>
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="card-title mb-4">
                                            <h4 class="card-title mb-3">Le {{ evenement.dateTime|date("d/m/Y") }}</h4>
                                            <h5 class="mt-3"><strong>{{ evenement.titre }}</strong></h5>
                                        </div>
                                        <p class="card-text">
                                            {{ evenement.descriptif|u.truncate(150, '...', false) }} </p>
                                        <hr>
                                        <a href="{{ path('evenement_detail', {'slug': evenement.slug}) }}" class="btn btn-dark">Détails</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


    </section>
{% endif %}


<div class="container-fluid ">
    <div class="row">
        <h2 class="text-center mt-5 mb-3">Nos dernières photos</h2>

        {%  for images in image %}


        <div class="col-md-3 col-4">
        <div class="gallery-item">

            <a href="{{ vich_uploader_asset(images, 'imageFile') }}" class="venobox" data-maxwidth="800px"   data-gall="gallery-item">
                <img src="{{ vich_uploader_asset(images, 'imageFile')}}" alt="galerie VTT MCF" class="img-fluid transition" style="border-radius: 10px">
            </a>
        </div>
        </div>

        {%  endfor %}
    </div>
</div>


    <div id="testimonials" class="testimonials">
            <div class="container">

                <div class="owl-carousel testimonials-carousel">
{% for commentaires in commentaire %}
                        <div class="testimonial-item">
                            <p class="chien">{{ commentaires.FirstName }} {{ commentaires.LastName }}</p>
                            <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>{{ commentaires.contenu }}<i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                                {% for i in 1..5 %}
                                {% if i <=  commentaires.note  %}
                                <i class='bx bxs-star bx-tada' ></i>
{% else  %}
                                <i class='bx bx-star bx-tada' ></i>
                                {% endif %}
                                {% endfor %}
                        </div>
{% endfor %}
                </div>

            </div>
        </div>

<section class="formulaire" id="contact">

    <div class="container mt-5">

        <h2 class="text-center">En cas de questions ?</h2>
        <h3 class="fw-bolder text-center">Contactez moi</h3>

        <div class="mt-5">
            {{ form_start(form) }}
            <div class="row mb-3">
                <div class="col-lg-6">
                    {{ form_row(form.email) }}
                </div>

                <div class="col-lg-6">
                    {{ form_row(form.sujet) }}
                </div>

            </div>

                {{ form_row(form.message) }}
            <div class="text-end">
                {{ form_row(form.Envoyer) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>

</section>

        <div class="sponsor mt-5 mb-5">

            <a href="https://www.enve.com">
                <img src="{{ asset('img/sponsor/enve.jpg') }}" alt="Enve" class="size">
            </a>
            <a href="https://moniteurcycliste.com">
                <img src="{{ asset('img/sponsor/mcf.png') }}" alt="Moniteur Cyliste Français - MCF" class="size">
            </a>
            <a href="https://mohawkscycles.fr/fr/">
                <img src="{{ asset('img/sponsor/mohawks.jpg') }}" alt="Mohawk's cycles" class="size">
            </a>
            <a href="https://www.pivotcycles.com/en/">
                <img src="{{ asset('img/sponsor/pivot.png') }}" alt="Pivot cycle" class="size">
            </a>
            <a href="https://www.runnicycles.fr">
                <img src="{{ asset('img/sponsor/runnycycle.png') }}" alt="RunnyCycles" class="size">
            </a>
            <a href="https://www.ride-ability.com/mtb-vtt-morzine/">
                <img src="{{ asset('img/sponsor/ride.png') }}" alt="Ride Ability" class="size">
            </a>

        </div>

    {% include 'navbar/footer.html.twig' %}

    <script>
        new VenoBox({
            selector: '.venobox',
            infinigall: true,
            spinner: 'bounce',
            navigation:true
        });

        $('.owl-carousel').owlCarousel({
            loop:true,
            dots: true,
            margin:3,
            autoplay: true,
            responsiveClass:true,
            responsive:{
                0:{
                    items:1,
                    nav:true
                },
                600:{
                    items:2,
                    nav:true
                },
                1000:{
                    items:3,
                    nav:true,
                    loop:true
                }
            }
        })
    </script>
    <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"
    ></script>

{% endblock %}
