{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed" alt="Logo">


    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/photo1.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/photo2.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/photo3.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


<div class="container">

    <h3 class="mt-5 animate__animated animate__fadeInUp">Jonathan Revillot-Tirot</h3>
        <h2 class="mb-5 animate__animated animate__fadeInUp">Besancon (25), France</h2>

        <div class="row">
            <div class="col-md">
            <p style="text-align:justify">Pour moi, le VTT est avant tout un moyen de prendre du plaisir, rencontrer de nouvelles personnes, voyager, explorer, repousser mes limites et me challenger.
                Après avoir dompté ma Motocross pendant plus de 10 ans, je me suis dirigé vers la compétition au guidon de mon VTT.</p>

            <p style="text-align:justify">Je cours au niveau national en VTT de descente. Vous pouvez me croiser sur différents événements comme au Crankworx World tour ou au départ de la Mégavalanche à l'Alpes d'Huez.
                Le VTT m'a appris énormément de choses. Sur la concentration, l’entraînement, la nutrition mais surtout, continuer de repousser mes limites tout en m'amusant.
            </p>
           <p> J'ai beaucoup appris et continue d'apprendre, c'est la beauté de ce sport. </p>

            <p style="text-align:justify">Diplômé d'état mention VTT, je suis là pour partager ma passion et rendre le processus d'apprentissage le plus agréable possible.

                Je suis disponible à Besançon dans le Doubs de septembre à juin. En saison d'été j'encadre dans les Alpes, à Morzine avec l'équipe de chez RideAbility. </p>


            <p><strong>Venez rouler avec nous!</strong></p>

            <a href="https://www.ride-ability.com/mtb-vtt-morzine/">
                <img src="{{ asset('img/ride.PNG') }}"  class="img-fluid displayed" alt="Logo">
            </a>

        </div>
        <div class="col-md">
            <img src="{{ asset('img/photo7.jpg') }}"  class="img-fluid displayed" style="border:solid; border-radius:80%" alt="Ride Ability">
        </div>
</div>


<h4 class="mt-5">Je propose de 2 types de coaching : <br>
    <small>Venez les découvrir</small> <i class='bx bx-wink-smile bx-tada' ></i> !!!</h4>


<div class="row mt-5 mb-5 text-center">
    <div class="col-md">
        <a href="http://localhost/wordpress/coaching">
            <button type="button" class="btn btn-danger mr-2">Coaching particulier</button>
        </a>
    </div>


    <div class="col-md text-center">
        <a href="http://localhost/wordpress/evenements">
            <button type="button" class="btn btn-danger ml-2">Evènements collectifs</button>
        </a>
    </div>
</div>

</div>

<div class="container-fluid">
    <div class="row no-gutters">

        {%  for images in image %}
    <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
            <a href="{{ vich_uploader_asset(images, 'imageFile') }}" class="venobox" data-maxwidth="800px"  data-gall="gallery-item">
                <img src="{{ vich_uploader_asset(images, 'imageFile')}}" class="img-fluid transition">
            </a>
        </div>
    </div>
        {%  endfor %}



    <div id="testimonials" class="testimonials mt-5">
        <div class="container">
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <p>Vivien JOLY</p>
                    <br>

                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>sdggffgfgfggffgdfggfdgffgdgfgfdgfdgfgd<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    <br>
                    <span class="note">
5
                                <i class='bx bxs-star bx-tada' ></i>


                                <i class='bx bx-star bx-tada' ></i>

</span>
                </div>
            </div>


        </div>
    </div><!-- End Testimonials Section -->






</div>









<img src="{{ asset('img/sponsor.PNG') }}"  class="img-fluid displayed mt-5" alt="Sponsor">









    <script>
        new VenoBox({
            selector: '.venobox',
            numeration: true,
            infinigall: true,
            share: true,
            spinner: 'bounce'
        });

        $(".owl-carousel").owlCarousel({
            animateOut: 'slideOutDown',
            animateIn: 'flipInX',
            items:1,
            margin:30,
            stagePadding:30,
            smartSpeed:450
        });


    </script>





{% endblock %}
