{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Inscription{% endblock %}

{% block body %}

<div class="global-container">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}



<div class="container inscription mb-5">



    <div class="text-center" >
        <img src="{{ asset('img/inscription.png') }}" alt="" style="max-width: 50%; margin-top: 3% " >
    </div>
    <div style="border:solid; border-radius: 10px; padding: 20px; margin-top: 50px ">


    {{ form_start(registrationForm) }}
    <div class="row mt-5">
        <div class="col-6" >
            {{ form_row(registrationForm.FirstName)}}
        </div>
        <div class="col-6" >
            {{ form_row(registrationForm.LastName)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 mt-5">
            {{ form_row(registrationForm.telephone)}}
        </div>
        <div class="col-12 mt-5">
            {{ form_row(registrationForm.Email)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 mt-5">
            {{ form_row(registrationForm.plainPassword.pass)}}
        </div>
        <div class="col-6 mt-5">
            {{ form_row(registrationForm.plainPassword.confirm)}}
        </div>
    </div>




    <div class=" mt-5 " style="color: black; display: flex;    flex-direction: column;">
        {{ form_row(registrationForm.agreeTerms)}}
            <a class="reg" style="margin-left: 5px" href="{{ path('condition') }}"><small style="color:#A81616 "> (voir les conditions)</small></a>


    </div>
<div class="text-end">
    <button type="submit"  class="btn btn-dark btn-lg mt-5">S'inscrire</button>
</div>


    {{ form_end(registrationForm) }}

</div>



</div>
</div>

{% endblock %}

