{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Inscription{% endblock %}

{% block body %}

<div class="global-container">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}



<div style="margin-top: 5%" class="container inscription">

    <h1 class="text-center" style="margin-bottom: 2%; color: #ffa012 ; font-weight: bold; font-size: xxx-large; margin-top: 20px">Inscription au site Jodelap Coaching</h1>

    {{ form_start(registrationForm) }}
    <div class="row mt-5 ">
        <div class="col-6" >
            {{ form_widget(registrationForm.FirstName)}}
        </div>
        <div class="col-6" >
            {{ form_widget(registrationForm.LastName)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 mt-5">
            {{ form_widget(registrationForm.telephone)}}
        </div>
        <div class="col-12 mt-5">
            {{ form_widget(registrationForm.Email)}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 mt-5">
            {{ form_widget(registrationForm.plainPassword.pass)}}
        </div>
        <div class="col-12 mt-5">
            {{ form_widget(registrationForm.plainPassword.confirm)}}
        </div>
    </div>
    <div class=" mt-5 " style="color: white">
            {{ form_row(registrationForm.agreeTerms)}}

            <a class="reg" href="{{ path('condition') }}"><small style="color: #ffa012 ">Voir les conditions générales de ventes et d'utilisations</small></a>

    </div>

        <button type="submit"  class="btn btn-light btn-lg mt-5">S'inscrire</button>

    {{ form_end(registrationForm) }}

</div>

</div>

{% endblock %}

