{% extends 'base.html.twig' %}

{% block title %}Jodelap Coaching - Réinitialiser votre mot de passe -{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<section class="container mt-5 ">
    <a href="{{ path('home') }}">
        <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed" alt="Logo">
    </a>
    <h1 class="text-center mt-5 mb-5">Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.Email) }}
        <div>
            <small>
                <p>Entrez votre adresse email et un lien pour réinitialiser votre mot de passe vous sera envoyé</p>
            </small>
        </div>

        <button class="btn btn-dark">Envoyer un e-mail de réinitialisation du mot de passe</button>
    {{ form_end(requestForm) }}
</section>
{% endblock %}
