{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Galerie{% endblock %}

{% block body %}

    {% include 'navbar/navbar.html.twig' %}

    <a href="{{ path('home') }}">
        <div class="parallax4" style="background-image:url('{{ asset('../../img/avis.jpg')}}'); filter: brightness(70%)"></div>
    </a>

    <h1 class="text-center titre">Nos photos</h1>

<div class="container-fluid">


    <div class="row">
        {% if image > 0 %}
            {%  for images in image %}
                <div class="col-lg-4 col-6">
                    <div class="gallery-item">
                        <a href="{{ vich_uploader_asset(images, 'imageFile') }}" class="venobox" data-maxwidth="800px"  data-gall="gallery-item">
                            <img src="{{ vich_uploader_asset(images, 'imageFile')}}" alt="galerie VTT MCF" style="border-radius: 10px" class="img-fluid transition">
                        </a>

                    </div>
                </div>
            {%  endfor %}
        {% endif %}
    {% if video |length > 0 %}
        <h1 class="text-center top2 titre">Nos vidéos</h1>
    {% for videos in video %}
        <div class="col-lg-3 col ml-2 mr-2" style="background-image: url('../../img/logo_panier.png');  background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% center; ">
            <div class="gallery-item">
        <video style="border-radius: 10px" class="mx-auto d-block transition" controls width="250">
            <source src="{{vich_uploader_asset(videos, 'imageFile') }}">
        </video>
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
    </div>

    {% include 'navbar/footer.html.twig' %}

<script>
    new VenoBox({
        selector: '.venobox',
        infinigall: true,
        spinner: 'bounce',
        navigation:true
    });
</script>





{% endblock %}
