{% extends 'base.html.twig' %}
{% block title %}Les évènements{% endblock %}

{% block body %}

    <a href="{{ path('home') }}">
        <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed mt-5 mb-5" alt="Logo">
    </a>
    <div class="container">
        <h1 class="text-center">Session du {{ evenementDetail.dateTime|date("d/m/Y") }} à {{ evenementDetail.dateTime|date("H:m") }}</h1>
        <div class="row">
            <div class="col-5">



                <h2 class="mt-5">Niveau :</h2>
                <p>{{ evenementDetail.niveau }}</p>

                <h2 class="mt-5">Programme {{ evenementDetail.titre }} :</h2>
                <p>{{ evenementDetail.descriptif|raw }}</p>
                <br>
                <h2 class="mt-3">Infos : </h2>
                <ul>
                    <li>Début : {{ evenementDetail.dateTime|date("H:m") }} / Fin {{ evenementDetail.finSession|date("H:m") }}</li>
                    <li>Prix : {{ evenementDetail.prix /100 }}€</li>
                    <li>Lieu précis : {{ evenementDetail.lieuPrecis }}</li>
                    <li>
                        {% if evenementDetail.finResa > now %}


                    <div class="box-rebours" style="display: flex">
                   <p class="minuteur-top">Temps restant pour réserver :</p>
                            <div class="minuteur" id="jour">00</div>
                            <span class="minuteur" id="jour_label">Jours</span>

                            <div class="minuteur" id="heure">00</div>
                            <span class="minuteur" id="heure_label">Heures</span>

                            <div class="minuteur" id="minute">00</div>
                            <span class="minuteur" id="minute_label">Minutes</span>

                            <div class="minuteur" id="seconde">00</div>
                            <span class="minuteur" id="seconde_label">Secondes</span>
                        </div>
                        {% else %}
                        <p>Vous ne pouvez plus réserver <i class='bx bx-sad' ></i></p>
                    {% endif %}
                    </li>
                </ul>
            </div>

            <div class="col-7">
                <img src="{{ asset('/uploads/evenement/' ~ evenementDetail.image)}}"  alt="image sessions" style="max-width:80%;
	height: auto; box-shadow: 5px 5px 5px black; border-radius: 5px" class="mt-5 img-fluid displayed ">
                {% if now < evenementDetail.finResa %}
                <a href="{{ path('evenement_add', {'id' : evenementDetail.id }) }}"> <button class="btn btn-dark mt-5  text-right">Réserver</button></a>
                 {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <section id="contact" class="contact">
            <div class="section-title">
                <div class="mt-5 mb-5">
                    <h3 class="text-center mb-5">Ce qu'il faut apporter pour la session</h3>
                    <div class="info-wrap text-center">
                        <div class="row">
                            <div class="col-lg-3 info border-end ">
                                <h4>Matériel:</h4>
                                <p>{{ evenementDetail.materiel }}</p>
                            </div>
                            <div class="col-lg-3  info border-end">
                                <h4>Protections obligatoires:</h4>
                                <p>{{ evenementDetail.protectionObligatoire }}</p>
                            </div>

                            <div class="col-lg-3  info border-end">
                                <h4>Protections conseillées:</h4>
                                <p>{{ evenementDetail.protectionConseillees }}</p>
                        </div>
                            <div class="col-lg-3  info ">
                                <h4>Autres</h4>
                                <p>{{ evenementDetail.autres }}</p>
                            </div>
                    </div>
                </div>
            </div>
    <div id="map" style="height: 500px;">
    </div>

    </div>
        <script type="text/javascript">

            var centerview=[{{ lat }},{{ long }}];
            var map = L.map('map').setView([centerview[0], centerview[1]], 15);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([centerview[0], centerview[1]]).addTo(map)
                .bindPopup('<p>Rendez-vous de la session</p>')
                .openPopup();

        </script>
    <script type="text/javascript">
        function reboursF()
        {
            let rebours = document.getElementById("rebours"),
                jour = document.getElementById("jour"),
                jour_label = document.getElementById("jour_label"),
                heure = document.getElementById("heure"),
                heure_label = document.getElementById("heure_label"),
                minute = document.getElementById("minute"),
                minute_label = document.getElementById("minute_label"),
                seconde = document.getElementById("seconde"),
                seconde_label = document.getElementById("seconde_label"),
                maintenant = new Date(),
                finannee = new Date('{{ evenementDetail.finResa|date("d M Y H:i:s")}}');

            let total_secondes = (finannee - maintenant) / 1000;

            if (total_secondes > 0)
            {
                let nb_jours = Math.floor(total_secondes / (60 * 60 * 24));
                let nb_heures = Math.floor((total_secondes - (nb_jours * 60 * 60 * 24)) / (60 * 60));
                let nb_minutes = Math.floor((total_secondes - ((nb_jours * 60 * 60 * 24 + nb_heures * 60 * 60))) / 60);
                let nb_secondes = Math.floor(total_secondes - ((nb_jours * 60 * 60 * 24 + nb_heures * 60 * 60 + nb_minutes * 60)));

                jour.textContent = caractere(nb_jours);
                heure.textContent = caractere(nb_heures);
                minute.textContent = caractere(nb_minutes);
                seconde.textContent = caractere(nb_secondes);

                jour_label.textContent = genre(nb_jours, 'jour');
                heure_label.textContent = genre(nb_heures, 'heure');
                minute_label.textContent = genre(nb_minutes, 'minute');
                seconde_label.textContent = genre(nb_secondes, 'seconde');
            }

            let minuteur = setTimeout("reboursF();", 1000);
        }

        function genre(nb, libelle)
        {
            return (nb > 1) ? libelle+'s' : libelle;
        }

        function caractere(nb)
        {
            return (nb < 10) ? '0'+nb : nb;
        }

        reboursF();
    </script>
{% endblock %}