{% extends 'base.html.twig' %}
{% block title %}JodelapCoaching - {{ evenementDetail.titre }}{% endblock %}

{% block body %}

    <a href="{{ path('home') }}">
    <div class="parallax" style="background-image:url('{{ asset('/uploads/evenement/' ~ evenementDetail.image)}}')"></div>
    </a>

    <h1 class="text-center titre">Session  {{ evenementDetail.titre }} </h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-7 mt-5">

                <h4 style="display: inline" >Niveau :</h4>
                <p style="display: inline">{{ evenementDetail.niveau }}</p>

                <h4 class="mt-5">Programme de la session :</h4>
                <p>{{ evenementDetail.descriptif|raw }}</p>
                <br>
                <h4 class="mt-3">Infos : </h4>
                <ul>
                    <li>Le {{ evenementDetail.dateTime|date("d/m/Y") }} de {{ evenementDetail.dateTime|date("H:m") }} à {{ evenementDetail.finSession|date("H:m") }}</li>
                    <li>Prix : {{ evenementDetail.prix /100 }}€</li>
                    <li>Lieu précis : {{ evenementDetail.lieuPrecis }}</li>
                </ul>
            </div>

            <div class="col-lg-5 mt-5">
                <img src="{{ asset('/uploads/evenement/' ~ evenementDetail.image)}}"  alt="image sessions" style="
	 box-shadow: 5px 5px 5px black; border-radius: 5px" class="img-fluid">

            </div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <h3 class="text-center souligner">Temps avant la fin des réservations</h3>

            <div class="row mt-4">
    {% if evenementDetail.finResa > now %}

            <div class="info-wrap text-center flex" >
                <div class="minuteur" id="jour">00</div>
                <span class="minuteur" id="jour_label">Jours</span>

                <div class="minuteur" id="heure">00</div>
                <span class="minuteur" id="heure_label">Heures</span>

                <div class="minuteur" id="minute">00</div>
                <span class="minuteur" id="minute_label">Minutes</span>

                <div class="minuteur" id="seconde">00</div>
                <span class="minuteur" id="seconde_label">Secondes</span>

            </div>
    <div class="text-center mt-4">
            <a href="{{ path('evenement_add', {'id' : evenementDetail.id }) }}"> <button class="btn btn-dark" style="font-size: large">Réserver</button></a>
        {% else %}
            <p class="mt-4">Vous ne pouvez plus réserver <i class='bx bx-sad' ></i></p>
        {% endif %}
    </div>



    <div class="container-fluid">
        <section id="matos" class="matos">
            <div class="section-title">
                <div class="mt-5 mb-5">
                    <h3 class="text-center souligner mb-5">Vous devez apporter</h3>
                    <div>

                        <div class="row">
                            <div class="col-lg-3 col-12 mt-4 info border-start" style="overflow-wrap: break-word;" >
                                <h5>Matériels :</h5>
                                <p>{{ evenementDetail.materiel }}</p>
                            </div>
                            <div class="col-lg-3 col-12 mt-4  info  border-start ">
                                <h5>Protections obligatoires :</h5>
                                <p>{{ evenementDetail.protectionObligatoire }}</p>
                            </div>

                            <div class="col-lg-3 col-12 mt-4 info border-start ">
                                <h5>Protections conseillées :</h5>
                                <p>{{ evenementDetail.protectionConseillees }}</p>
                        </div>
                            <div class="col-lg-3 col-12 mt-4 border-start border-end  info ">
                                <h5>Autres : </h5>
                                <p>{{ evenementDetail.autres }}</p>
                            </div>
                    </div>
                </div>
            </div>
    <div id="map" style="height: 500px;">
    </div>
            </div>

    <div class="parallax"></div>
        <script type="text/javascript">

            let centerview=[{{ lat }},{{ long }}];
            let map = L.map('map').setView([centerview[0], centerview[1]], 15);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([centerview[0], centerview[1]]).addTo(map)
                .bindPopup('<p>Rendez-vous de la session</p>')
                .openPopup();

        </script>
    <script type="text/javascript">
        function reboursF()
        {
            let rebours = document.getElementById("rebours"),
                jour = document.getElementById("jour"),
                jour_label = document.getElementById("jour_label"),
                heure = document.getElementById("heure"),
                heure_label = document.getElementById("heure_label"),
                minute = document.getElementById("minute"),
                minute_label = document.getElementById("minute_label"),
                seconde = document.getElementById("seconde"),
                seconde_label = document.getElementById("seconde_label"),
                maintenant = new Date(),
                finannee = new Date('{{ evenementDetail.finResa|date("d M Y H:i:s")}}');

            let total_secondes = (finannee - maintenant) / 1000;

            if (total_secondes > 0)
            {
                let nb_jours = Math.floor(total_secondes / (60 * 60 * 24));
                let nb_heures = Math.floor((total_secondes - (nb_jours * 60 * 60 * 24)) / (60 * 60));
                let nb_minutes = Math.floor((total_secondes - ((nb_jours * 60 * 60 * 24 + nb_heures * 60 * 60))) / 60);
                let nb_secondes = Math.floor(total_secondes - ((nb_jours * 60 * 60 * 24 + nb_heures * 60 * 60 + nb_minutes * 60)));

                jour.textContent = caractere(nb_jours);
                heure.textContent = caractere(nb_heures);
                minute.textContent = caractere(nb_minutes);
                seconde.textContent = caractere(nb_secondes);

                jour_label.textContent = genre(nb_jours, 'jour');
                heure_label.textContent = genre(nb_heures, 'heure');
                minute_label.textContent = genre(nb_minutes, 'minute');
                seconde_label.textContent = genre(nb_secondes, 'seconde');
            }

            let minuteur = setTimeout("reboursF();", 1000);
        }

        function genre(nb, libelle)
        {
            return (nb > 1) ? libelle+'s' : libelle;
        }

        function caractere(nb)
        {
            return (nb < 10) ? '0'+nb : nb;
        }

        reboursF();
    </script>
{% endblock %}