{% extends 'base.html.twig' %}

{% block title %}Les évènements{% endblock %}

{% block body %}
<div class="container-fluid">
    <a href="{{ path('home') }}">
    <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed" alt="Logo">
    </a>
    <h1 class="mt-5 text-center" style="color: #851920;font-style: italic" >Événements du {{ debut|date("d/m/Y") }} au {{ fin|date("d/m/Y") }} </h1>

    {% if evenement|length > 0 %}

<div class="row">
<div class="table-responsive">
    <table class="table text-center  table-striped table-dark table-hover mt-5">
        <thead class="thead-dark ">
        <tr>
            <th scope="col"></th>
            <th scope="col">Date du début de la session</th>
            <th scope="col">Heure de fin</th>
            <th scope="col">Programme</th>
            <th scope="col">Niveau</th>
            <th scope="col">Lieu</th>
            <th scope="col">Prix</th>
            <th scope="col">Détails sur le cours</th>
            <th scope="col">Réserver</th>
        </tr>
        </thead>
        <tbody>
        {% for evenements in evenement %}
        <tr>
            <td><img src="uploads/evenement/{{ evenements.image }}" alt="image sessions" style="max-width: 100%;
	height: auto;"></td>
            <td style="text-align: center; vertical-align: middle">Le {{ evenements.dateTime|date("d/m/Y") }} à {{ evenements.dateTime|date("H:m") }}</td>
            <td style="text-align: center; vertical-align: middle">Le {{ evenements.finSession|date("H:m") }}</td>
            <td style="text-align: center; vertical-align: middle">{{ evenements.titre }}</td>
            <td style="text-align: center; vertical-align: middle">{{ evenements.niveau }}</td>
            <td style="text-align: center; vertical-align: middle">
                {% if evenements.lieu %}
                {{ evenements.ville }}-{{ evenements.lieu }}
                {% else %}{{ evenements.ville }}
                {% endif %}
                </td>
            <td style="text-align: center; vertical-align: middle">{{ evenements.prix /100}}€</td>
            <td style="text-align: center; vertical-align: middle"><a href="{{ path('evenement_detail', {'id':evenements.id}) }}"><i class='bx bx-detail bx-tada bx-rotate-180 change' ></i></a></td>
            <td style="text-align: center; vertical-align: middle">
                {% if evenements.finResa|date("d/m/Y") > debut|date("d/m/Y") %}
                <a href="{{ path('evenement_add', {'id' : evenements.id }) }}">
                    <i class='bx bx-purchase-tag-alt bx-tada bx-rotate-180 change' ></i>
                </a>
                    {% else %}
                    <p>Vous ne pouvez plus réserver</p>
{% endif %}
                        </td>
        </tr>
        {%  endfor %}
        </tbody>
    </table>
</div>
</div>
    {% else %}


        <h3 class="text-center mt-5">Il n'y a pas de sessions pour le moment <i class='bx bx-smile'></i></h3>
        <h4 class="mt-5 text-center">Toutefois, vous pouvez : <br></h4>

        <div class="row mt-5 mb-5 text-center">
            <div class="col-md">
                <a href="http://localhost/wordpress/coaching">
                    <button type="button" class="btn btn-danger mr-2">Réserver un cours de coaching particulier</button>
                </a>
            </div>


            <div class="col-md text-center">
                <a href="http://localhost/wordpress/evenements">
                    <button type="button" class="btn btn-danger ml-2">Offrir une carte cadeau</button>
                </a>
            </div>
        </div>


    {% endif %}
</div>





{% endblock %}
