{% extends 'base.html.twig' %}

{% block title %}Les évènements{% endblock %}

{% block body %}
    <section class="evenement">
<div class="container-fluid" >
    <a href="{{ path('home') }}">
    <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed" alt="Logo">
    </a>
    <h1 class="mt-5 text-center" >Mes Événements du {{ debut|date("d/m/Y") }} au {{ fin|date("d/m/Y") }} </h1>
    {% if evenement|length > 0 %}
        <div class="container">
            <div class="row">
                {% for events in evenement %}
                    <div class="col-4 mb-5">
                        <h3><i class='bx bxs-calendar'></i> Le {{ events.dateTime|date("d/m/Y") }} </h3>
                        <h3><i class='bx bx-time-five' ></i> De {{ events.dateTime|date("H:m") }} à {{ events.finSession|date("H:m") }} </h3>
                        <h3><i class='bx bx-location-plus' ></i>
                            {% if events.lieu %}
                                A {{ events.ville }}-{{ events.lieu }}
                            {% else %}A {{ events.ville }}
                            {% endif %}
                        </h3>

                        <img src="uploads/evenement/{{ events.image }}" alt="image sessions" style="max-width: 80%;
	height: auto;">
                    </div>
                    <div class="col-8">
                        <h5>{{ events.titre }}</h5>
                        <p>{{ events.descriptif|raw }}</p>
                        <a href="{{ path('evenement_detail', {'id': events.id} )}}"><button class="btn btn-dark">Détails</button></a>
                        <br>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <h3 class="text-center mt-5">Il n'y a pas de sessions pour le moment <i class='bx bx-smile'></i></h3>
        <h4 class="mt-5 text-center">Toutefois, vous pouvez : <br></h4>

        <div class="row mt-5 mb-5 text-center">
            <div class="col-md">
                <a href="{{ path('coaching') }}">
                    <button type="button" class="btn btn-danger mr-2">Réserver un cours de coaching particulier</button>
                </a>
            </div>
            <div class="col-md text-center">
                <a href="{{ path('evenement') }}">
                    <button type="button" class="btn btn-danger ml-2">Offrir une carte cadeau</button>
                </a>
            </div>
        </div>


    {% endif %}
</div>

    </section>



{% endblock %}
