{% extends 'base.html.twig' %}

{% block title %}Les évènements{% endblock %}

{% block body %}

        <section class="container-fluid text-center">



            <a href="{{ path('home') }}">
                <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed" alt="Logo">
            </a>
            <h1 class="mb-5"><strong>Mes Événements du {{ debut|date("d/m/Y") }} au {{ fin|date("d/m/Y") }} </strong></h1>
            {% if evenement|length > 0 %}
            <div class="container">
            <div class="row">
                {% for events in evenement %}
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="uploads/evenement/{{ events.image }}" alt="{{ events.titre }}" class="img-fluid" />
                                <a href="{{ path('evenement_detail', {'id': events.id} )}}">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title mb-3">{{ events.titre }}</h4>
                                <hr>
                                <p class="card-text">
                                    <i class='bx bxs-calendar'></i>  Le {{ events.dateTime|date("d/m/Y") }}<br>
                                    <i class='bx bx-time-five' ></i> De {{ events.dateTime|date("H:m") }} à {{ events.finSession|date("H:m") }}<br>
                                    <i class='bx bx-location-plus' ></i>{% if events.lieu %}
                                    A {{ events.ville }}-{{ events.lieu }}
                                {% else %}A {{ events.ville }}
                                    {% endif %}<br>
                                    <i class='bx bx-male-female'></i> {{ events.niveau }} <br>
                                <hr>
                                    {{ events.descriptif|raw }}
                                </p>
                                <a href="{{ path('evenement_detail', {'id': events.id} )}}" class="btn btn-dark">Détails</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
            {% else %}
            <h3 class="text-center mt-5">Il n'y a pas de sessions pour le moment <i class='bx bx-smile'></i></h3>
            <h4 class="mt-5 text-center">Toutefois, vous pouvez : <br></h4>

            <div class="row mt-5 mb-5 text-center">
                <div class="col-md">
                    <a href="{{ path('coaching') }}">
                        <button type="button" class="btn btn-danger mr-2">Réserver un cours de coaching particulier</button>
                    </a>
                </div>
                <div class="col-md text-center">
                    <a href="{{ path('evenement') }}">
                        <button type="button" class="btn btn-danger ml-2">Offrir une carte cadeau</button>
                    </a>
                </div>
                {% endif %}
            </div>
        </section>

















{% endblock %}
