<div class="vertical-menu">
    <p><a href="{{ path('user') }}"><i class='bx bx-home'></i> Accueil</a></p>
    <p><a href="{{ path('user_coordonnees')}}"><i class='bx bxs-contact mt-4' ></i> Modifier coordonnées</a></p>
    <p><a href="{{ path('user_motdepasse') }}"><i class='bx bxs-key mt-4'></i> Changer mot de passe</a></p>
    <p><a href="{{ path('user_reservation') }}"><i class='bx bx-cart-alt mt-4'></i> Les réservations</a></p>
    <p><a href="{{ path('user_commentaire')}}"><i class='bx bx-message-square-x mt-4'></i>Modifier son commentaire</a></p>
    <p><a href="{{ path('user_supprimer', {'id' : app.user.id}) }}"><i class='bx bx-message-square-x mt-4'></i> Supprimer son profil</a></p>
</div>