{% extends 'base.html.twig' %}

{% block title %}Coaching{% endblock %}

{% block body %}

    <a href="{{ path('home') }}">
        <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed mt-5 mb-5" alt="Logo">
    </a>



    <h1 class="text-center">Coaching</h1>

<h2 class="text-center border mt-5">OUVERT A TOUS LES PROFILS</h2>

<h3 class="text-center mt-5">J'adapte la séance suivant votre niveau et vos attentes.</h3>


    <div class="container">
        <p class="mt-5 mb-3 text-center">Élaborons ensemble une session sur le thème qui vous correspond. <br>
            Tout au long de la session, je vous donnerai toutes les astuces pour vous surpasser et prendre confiance en votre pilotage. <br>
            Sauts, virages, dérapages, racines, rochers (...), plus rien ne vous fera hésiter !!!</p>


        <div class="row m-auto text-center mt-5">
            <div class="col-lg-3 border-start border-end">
                <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>Je suis débutant et j'aimerais apprendre les bases du cyclisme, l'équilibre, pédaler, contrôler mes trajectoires.<i class="bx bxs-quote-alt-right quote-icon-right"></i> </p>
            </div>
            <div class="col-lg-3  border-end">
                <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>J'ai investi dans un nouveau vélo et j'aimerais partir sur de bonnes bases pour profiter pleinement de mon VTT.<i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
            </div>
            <div class="col-lg-3  border-end">
                <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>Je pratique le VTT mais j'atteins rapidement mes limites, j'aimerais être à l'aise et gagner en confiance sur les sauts, dans les virages, en descente, en franchissement d'obstacles...<i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
            </div>
            <div class="col-lg-3  border-end">
                <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>Je suis à l'aise avec mon vélo, dans la pente, sur les sauts, dans la boue. Compétiteur dans l'âme, j'aimerais me challenger sur différentes compétitions et j'ai besoin de me perfectionner autant physiquement que techniquement.<i class="bx bxs-quote-alt-right quote-icon-right"></i></p>
            </div>

        </div>

        <div class="container text-center mt-5">

            <p><strong>Horaires</strong> : 9h - 12h / 13h30 - 16h30 </p>
            <p>Basé dans le <strong>Doubs (25)</strong> de septembre à juin
                et à <strong>Morzine (74)</strong> en juillet-août chez RideAbility</p>
        </div>

    </div>

    <div class="container-fluid bg-gradient p-5">
        <div class="row m-auto text-center w-75">
            {% for coachings in coaching %}
            <div class="col-lg-4 princing-item red">
                <div class="pricing-divider ">
                    <h3 class="text-light">{{ coachings.heure }} HEURES</h3>
                    <h4 class="my-0 display-4 text-light font-weight-normal mb-3"><span class="h3">A partir de</span> {{ coachings.priceForTwo}} <span class="h5">€</span></h4>
                    <svg class='pricing-divider-img' height='100px' id='Layer_1' preserveAspectRatio='none' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve'>
          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
	c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
                        <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
	c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
                        <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
	H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
                        <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
	c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
                </div>
                <div class="card-body bg-white mt-0 shadow">
                    <ul class="list-unstyled mb-5 position-relative">
                        <li><b>{{ coachings.priceForTwo }}€</b>pour <strong>deux</strong> personnes</li>
                        <li><b>+ {{ coachings.priceForThree }}€</b>pour <strong>chaque</strong> personne supplémentaire</li>
                    </ul>
                    <a href="{{ path('coaching_add', {'slug':coachings.slug}) }}">  <button type="button" class="btn  btn-dark  btn-lg btn-block  ">Réserver</button></a>
                </div>
            </div>

{% endfor %}

        </div>
    </div>
<div class="container-fluid">
    <section id="contact" class="contact">

{% endblock %}