{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Laisser votre avis{% endblock %}

{% block body %}

 <div class="container">
     <a href="{{ path('home') }}">
         <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed mt-5 mb-5" alt="Logo">
     </a>

     <h1 class="top2 text-center" style="font-style: italic">Ajouter votre avis !</h1>
     {%  if app.user %}
     <div>
         {{ form(form) }}
     </div>
   {% else %}
     <div class="text-center mt-3">
        <p>Vous devez être  <a href="{{ path('app_login') }}">connecté</a> pour laisser un avis <br>

         <p>ou vous <a href="{{ path('app_register') }}">enregistrer</a> et vous connecter <i class='bx bx-laugh'></i></p>

     </div>
     {% endif %}
 </div>
{% endblock %}