{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Avis{% endblock %}

{% block body %}

    <a href="{{ path('home') }}">
        <div class="parallax" style="background-image:url('{{ asset('../../img/P1110107.JPG')}}')"></div>
    </a>

        <h1 class="text-center titre">Vos avis comptent !</h1>

    {% for label, messages in app.flashes  %}
        <div class="alert mb-5 alert-{{ label }} fade show text-center" role="alert" data-mdb-color="{{ label }}"   style="font-size: x-large">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor%}
        </div>
    {% endfor %}

            <div class="container">

                <!-- Button trigger modal -->

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Votre avis compte !</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            {% if app.user %}
                                {{ form_start(form) }}
                            <div class="modal-body">

                                {{ form_widget(form.note) }}
                                <br>
                                <br>
                                {{ form_widget(form.contenu) }}

                            </div>
                                <div class="modal-footer">
                              
                                    {{ form_widget(form.Valider)}}

                                </div>
                                {{ form_end(form) }}
                            {% else %}
                                <div class="modal-body">
                                    <p>Vous devez être connecté pour donner votre avis !</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler
                                    </button>
                                    <a href="{{ path('app_login') }}">
                                        <button type="button" class="btn btn-dark">Se connecter</button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>



                {% if app.user %}
                <button type="button" class="btn btn-dark top mt-5 mb-5 btn-lg " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ajouter un avis
                </button>
                {% endif %}

                {% if repo|length > 0 %}

                    <div class="alert alert-dark mt-5" data-mdb-color="dark" style="font-size: x-large; font-weight: bold">
                        <p class="alert-heading">
                        <div class="row">
                            <div class="col count">
                                <p>Moyenne donnée par {{ count }} clients</p>
                            </div>
                            <div class="col count">
                                {% for moyennes in moyenne %}

        {% for i in 1..5 %}
            {% if i <= moyennes.note %}
                <i class='bx bxs-star bx-flashing'></i>
            {% else %}
                <i class='bx bx-star bx-flashing'></i>
            {% endif %}
        {% endfor %}

                                {% endfor %}
                            </div>
                        </div>
                        </p>
                    </div>
                    {% for repos in repo %}

                        <div class="bg-light rounded mt-5 mb-5 py-3 px-3">
                            <p><strong>{{ repos.user.FirstName }} {{ repos.user.LastName }}</strong> a dit :</p>
                            <blockquote>
                                <p><i class="bx bxs-quote-alt-left quote-icon-left"></i>{{ repos.contenu }}<i
                                            class="bx bxs-quote-alt-right quote-icon-right"></i></p>
                            </blockquote>
                            <p><strong>Note qu'il/elle a donnée :</strong>

        {% for i in 1..5 %}
            {% if i <= repos.note %}
                <i class='bx bxs-star bx-spin'></i>
            {% else %}
                <i class='bx bx-star bx-spin'></i>
            {% endif %}
        {% endfor %}
                            </p>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="titre pb-3">En attente de commentaires</h2>
                {% endif %}
                <div class="text-right">
                    <h3>{{ knp_pagination_render(repo) }}</h3>
                </div>
            </div>
{% endblock %}