{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Nombre d'heures{% endblock %}

{% block body %}

    {% include 'navbar/navbar.html.twig' %}

    <div style="background-color: black; padding-top: 90px; padding-bottom: 40px">


        <a href="{{ path('home') }}">
            <img src="{{ asset('img/SITEBLANC.png') }}" style="filter: brightness(40%)"  class="img-fluid displayed mt-4" alt="Logo">
        </a>
    </div>

    <div class="global-container">

        <h1 class="text-center titre">Merci d'indiquer le nombre d'heures que vous souhaitez offrir <small>- 45€/H -</small></h1>

        <div class="container" style="margin-top: 10%">
            {{ form_start(form) }}
            <p class="mt-5">Nombre d'heures</p>
            {{ form_widget(form.heure, {'attr': {'onkeyup': 'lecture()'}}) }}
            <div id="info" style="display: none">
                <p class="mt-5">Ecrivez ici le programme que vous souhaitez offrir, le niveau du participant, ce qu'il en attend ...</p>
                {{ form_widget(form.information) }}
            </div>
            <div class="text-end mt-5">
                {{ form_row(form.valider) }}
            </div>


            {{ form_end(form) }}




    </div>
    </div>

    <script>
        function lecture()
        {
            var valeur = document.getElementById('coffret_heure').value;
            console.log(valeur)
            if (valeur > 0){
                document.getElementById('info').style.display = "block"
            }else (
                document.getElementById('info').style.display = "none"
            )
        }
    </script>





    {% include 'navbar/footer.html.twig' %}

{% endblock %}