{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Coffrets cadeaux{% endblock %}

{% block body %}
    {% include 'navbar/navbar.html.twig' %}
    <a href="{{ path('home') }}">
        <div class="parallax3" style="background-image:url('{{ asset('../../img/coffret.jpg')}}'); filter: brightness(60%)"></div>
    </a>


<h1 class="text-center titre" style="font-weight: bolder">Coffrets cadeaux</h1>
    
<h3 class="text-center border mt-5" style="font-weight: bolder;font-size: xxx-large; color:#A81616 ">OUVERT A TOUS LES PROFILS</h3>

<h4 class="text-center mt-5 souligner" style="font-weight: bold;">Faites plaisir à ceux que vous aimez avec une leçon sur mesure !</h4>


<div class="container">
    <p class="mt-5 mb-3">En privé ou avec un ami, 2H, Demi-journée, journée complète ou même sur plusieurs jours !
        Session technique, randonnée découverte ou accompagnement en compétition...
        Tout est modulable, pour être sûr de faire plaisir !  </p>


    <div class="text-center mt-5 mb-5">

        <p><strong>Horaires</strong> : 9h - 12h / 13h30 - 16h30 </p>
        <p>Basé dans le <strong>Doubs (25)</strong> de septembre à juin
            et à <strong>Morzine (74)</strong> en juillet-août chez RideAbility</p>
    </div>

    <div class="row">

<div class="col-lg-6 col-12">
    <h4 class="mt-5"> Tous les coffrets comprennent pour <strong>45€/heure :</strong></h4>
    <ul>
        <li>
            <p>Un ou plusieurs cours dans un coffret design <i class='bx bxs-gift bx-tada' style="color: #A81616"></i></p>
        </li>
        <li>
            <p>Un programme personnalisé définit entre vous et moi et selon le nombre d'heures commandés</p>
        </li>
    </ul>
</div>

        <div class="col-lg-6 col-12">
        <h4 class="mt-5">En cliquant sur <strong>commander ou sur l'ours</strong>, vous ajouterez :</h4>
        <ul>
            <li>
                <p>le nombre d'heure que vous souhaitez offrir</p>
            </li>
            <li>
                <p>le programme et le niveau de la personne qui se verra offrir le coffret cadeau</p>
            </li>
        </ul>

    </div>

    </div>

    <div class="row text-center mt-5 mb-5" >

{% for coffrets in coffret %}
        <div class="col" style="display: flex;  justify-content: center;
    align-items: center; color:white">
            <a href="{{ path('coffret_add', {'titre' : coffrets.produit} ) }}">
            <button class="oursBtn">Commander
            </button>
            </a>
        </div>

        <div class="col">

            <a href="{{ path('coffret_add', {'titre' : coffrets.produit} ) }}">
            <img src="{{ asset('img/coffret.png') }}" alt="Jodelap Coching - Jonathan Revillot Tirot" class="img-fluid ours" style="max-height: 100%" />

            </a>

        </div>


{% endfor %}
    </div>

    </div>

    {% include 'navbar/footer.html.twig' %}
            {% endblock %}