{% extends 'base.html.twig' %}

{% block title %}Jodelap Coaching - Profil personnel -{% endblock %}

{% block body %}
    <section class="container mt-5">
        <a href="{{ path('home') }}">
            <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed" alt="Logo">
        </a>

        {% for label, messages in app.flashes  %}
            <div class="alert mb-5 alert-{{ label }} fade show text-center" role="alert" data-mdb-color="{{ label }}"   style="font-size: x-large">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor%}
            </div>
        {% endfor %}


                <h1 class="text-center mt-5">Votre profil</h1>



        <div class="row mt-5" >
            <div class="col">
                {% include 'navbar/navbarVertical.html.twig' %}
            </div>
            <div class="col-lg-4 col-12">
                <p class="text-center mt-3"><strong>Votre prénom :</strong> {{ app.user.FirstName }}</p>
                <p class="text-center mt-3"><strong>Votre nom :</strong> {{ app.user.LastName }}</p>
            </div>
            <div class="col-lg-6 col-12">
                <p class="text-center mt-3"><strong>Votre email :</strong> {{ app.user.Email }}</p>
                <p class="text-center mt-3"><strong>Votre téléphone :</strong> {{ app.user.telephone }}</p>

            </div>
        </div>

    </section>




{% endblock %}
